div.disKutu{
    margin: 30%;
    margin-top: 50px;
    height: 500px;
    width: 500px;
    background-color: aqua;
    border: 5px solid yellow;
    border-style: double;
    display: flex;
    flex: auto;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
}
div.grupKutu{
    display:flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1%;
    border: 3px solid blue;
    width: 150px;
    height: 150px;
    box-sizing: border-box;

}
div.icKutu{
    height: 47px;
    width: 48px;
    background-color: yellow;
    font-size: 25px;
    text-align: center;
    font-size: xx-large;
    border: 1px solid black
    
}
h1{
    margin-left:600px ;
    border: 2px solid red;
    background-color: aqua;
    text-align: center;
    width: 200px;
}
